{{/* Renders a single blog post card. Expects a Page as context. */}}
<div class="column is-one-third">
  <article class="card blog-card">
    <div class="card-content">
      <p class="title is-5">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </p>
      <p class="blog-meta">
        {{ .Date.Format "Jan 2, 2006" }}
        &nbsp;&bull;&nbsp; {{ .ReadingTime }} min read
        {{ with .Params.authors }}
        &nbsp;&bull;&nbsp; {{ range $i, $a := . }}{{ if $i }}, {{ end }}<a class="author-link" href="{{ "/blog/authors/" | relLangURL }}{{ $a | urlize }}">{{ $a }}</a>{{ end }}
        {{ end }}
      </p>
      <div class="content">
        {{ .Summary | plainify | truncate 200 }}
      </div>
      <span class="read-more">Read more &rarr;</span>
      {{ with .Params.tags }}
      <p class="blog-card-tags">
        {{ range . }}
        <a class="tag" href="{{ "/blog/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </p>
      {{ end }}
    </div>
  </article>
</div>
